<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaye.rescuebackend.mapper.NewsMapper">

    <resultMap id="BaseResultMap" type="com.xiaye.rescuebackend.model.News">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="companyId" column="company_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="context" column="context" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="TIMESTAMP"/>
            <result property="isReaded" column="is_readed" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,company_id,title,
        context,date,is_readed,
        type
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from news
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from news
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xiaye.rescuebackend.model.News" useGeneratedKeys="true">
        insert into news
        ( id,company_id,title
        ,context,date,is_readed
        ,type)
        values (#{id,jdbcType=BIGINT},#{company_id,jdbcType=BIGINT},#{title,jdbcType=VARCHAR}
        ,#{context,jdbcType=VARCHAR},#{date,jdbcType=TIMESTAMP},#{is_readed,jdbcType=VARCHAR}
        ,#{type,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xiaye.rescuebackend.model.News" useGeneratedKeys="true">
        insert into news
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="company_id != null">company_id,</if>
                <if test="title != null">title,</if>
                <if test="context != null">context,</if>
                <if test="date != null">date,</if>
                <if test="is_readed != null">is_readed,</if>
                <if test="type != null">type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="company_id != null">#{company_id,jdbcType=BIGINT},</if>
                <if test="title != null">#{title,jdbcType=VARCHAR},</if>
                <if test="context != null">#{context,jdbcType=VARCHAR},</if>
                <if test="date != null">#{date,jdbcType=TIMESTAMP},</if>
                <if test="is_readed != null">#{is_readed,jdbcType=VARCHAR},</if>
                <if test="type != null">#{type,jdbcType=BIGINT},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xiaye.rescuebackend.model.News">
        update news
        <set>
                <if test="company_id != null">
                    company_id = #{company_id,jdbcType=BIGINT},
                </if>
                <if test="title != null">
                    title = #{title,jdbcType=VARCHAR},
                </if>
                <if test="context != null">
                    context = #{context,jdbcType=VARCHAR},
                </if>
                <if test="date != null">
                    date = #{date,jdbcType=TIMESTAMP},
                </if>
                <if test="is_readed != null">
                    is_readed = #{is_readed,jdbcType=VARCHAR},
                </if>
                <if test="type != null">
                    type = #{type,jdbcType=BIGINT},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xiaye.rescuebackend.model.News">
        update news
        set 
            company_id =  #{company_id,jdbcType=BIGINT},
            title =  #{title,jdbcType=VARCHAR},
            context =  #{context,jdbcType=VARCHAR},
            date =  #{date,jdbcType=TIMESTAMP},
            is_readed =  #{is_readed,jdbcType=VARCHAR},
            type =  #{type,jdbcType=BIGINT}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
