<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaye.rescuebackend.mapper.UserNewsMapper">

    <resultMap id="BaseResultMap" type="com.xiaye.rescuebackend.model.UserNews">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="newsId" column="news_id" jdbcType="BIGINT"/>
            <result property="readFlag" column="read_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,news_id,
        read_flag
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user_news
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from user_news
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xiaye.rescuebackend.model.UserNews" useGeneratedKeys="true">
        insert into user_news
        ( id,user_id,news_id
        ,read_flag)
        values (#{id,jdbcType=BIGINT},#{userId,jdbcType=BIGINT},#{newsId,jdbcType=BIGINT}
        ,#{readFlag,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xiaye.rescuebackend.model.UserNews" useGeneratedKeys="true">
        insert into user_news
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userId != null">user_id,</if>
                <if test="newsId != null">news_id,</if>
                <if test="readFlag != null">read_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="userId != null">#{userId,jdbcType=BIGINT},</if>
                <if test="newsId != null">#{newsId,jdbcType=BIGINT},</if>
                <if test="readFlag != null">#{readFlag,jdbcType=TINYINT},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xiaye.rescuebackend.model.UserNews">
        update user_news
        <set>
                <if test="userId != null">
                    user_id = #{userId,jdbcType=BIGINT},
                </if>
                <if test="newsId != null">
                    news_id = #{newsId,jdbcType=BIGINT},
                </if>
                <if test="readFlag != null">
                    read_flag = #{readFlag,jdbcType=TINYINT},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xiaye.rescuebackend.model.UserNews">
        update user_news
        set 
            user_id =  #{userId,jdbcType=BIGINT},
            news_id =  #{newsId,jdbcType=BIGINT},
            read_flag =  #{readFlag,jdbcType=TINYINT}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
